<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>


<div class="container">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <br><br> <h2 style="color:#0fad00">Success</h2>
            <p style="font-size:20px;color:#5C5C5C;">Thank You ! Data Deleted Successfully.</p>
            <a href="/delcustomer" class="btn btn-success"> Delete another message</a>
            <br><br>
        </div>
    </div>
</div>

</body>
</html>


<!--
<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Successfully Added Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Result</h1>
<h2>Succesfully Submitted !!</h2>
<a href="addcustomer">Submit another message</a>
</body>
</html>-->
