<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Products</title>
</head>
<body>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="btn-toolbar">
    <button class="btn btn-primary">New User</button>
</div>
<div class="well">
    <table class="table">
        <thead>
        <tr>
            <th>Prod_ID</th>
            <th>Prod_Name</th>
            <th>Colour</th>
            <th>Size</th>
            <th>Price</th>
            <th>Company</th>
            <th>Image_path</th>
            <th style="width: 36px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${products}">
            <td th:utext="${o.Prod_ID}">Prod_ID</td>
            <td th:utext="${o.Prod_Name}">Prod_Name</td>
            <td th:utext="${o.Colour}">Colour</td>
            <td th:utext="${o.Size}">Size</td>
            <td th:utext="${o.Price}">Price</td>
            <td th:utext="${o.Company}">Company</td>
            <td th:utext="${o.Image_path}">Image_path</td>

            <td>
                <a href="user.html"><i class="icon-pencil"></i></a>
                <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
            </td>
        </tr>

        </tbody>
    </table>
</div>